{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/curriculum.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}

{% block body %}
<div class="container">
    <!-- <iframe src="/static/files/cv.pdf" width="850" height="1100" seamless></iframe> -->
    <img src="/static/files/cv.png">
    <form method="get" action="/static/files/cv.pdf">
        <button type="submit">Download!</button>
     </form>
    <br>
    <br>
</div>

<!--<li><a href="/projects/" class="title">[]</a>
    <span class="content"></span></li>-->
{% endblock %}
