{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper fixed-wrapper">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a id="close" class="button" href="#"></a>
                            <a id="min" class="button" href="#"></a>
                            <a id="max" class="button" href="#"></a>
                        </div>
                        <span class="title">Terminal - luca@luca-laptop</span>
                    </div>
                    <div class="message">
                        <span class='prompt'><span class='user'>luca</span><span class="at">@</span><span
                                class="path">/home/luca/</span>><span class="caret">$</span></span>
                        <span class="typed"></span>
                        <!-- <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"/></form> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">Luca</p>
            <p class="text-title desktop-view">Somigli</p>
            <p class="text-title mobile-view">Luca Somigli</p>
            <div class="social-icons">
                <a target="_blank" href="https://github.com/lucasomigli">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://uk.linkedin.com/in/luca-somigli-78a0ab89">
                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                </a>
                <a target="_blank" href="https://twitter.com/_lucasomigli">
                    <img class="title-logo" src="static/images/twitter.svg">
                </a>
                <a target="_blank" href="https://www.instagram.com/lucasomigli/">
                    <img class="title-logo" src="static/images/insta.svg">
                </a>
            </div>
        </div>
        <div class="middle-text">
            <p class="text-content">Thank you very much indeed for taking the time! My name is Luca. I work with
                finance and all things data and programming. I started this journey some time ago after deepening my interests first in computer
                science and later on in finance and quantitative analysis with programming tools.
            </p>
            <p class="text-content">
                I was born in Rome, Italy and moved to London to study Music performance at LCCM and then Mathematical Finance in my Masters 
                at Birbeck, University of London. Currently, whilst studying for my masters, I take part in different projects involving data science 
                and financial technology. My core strenghts are Python, C++, R, Matlab and libraries such as QuantLib, pandas, scipy, matplotlib, plotly, 
                talib and more.
            </p>

            <p class="text-content">One of my biggest side-projects is macro-analyst, a python based web app
                built with Flask that I developed from scratch while leading a team of developers working remotely.
                I have designed the concept, collated the content, structured the database and designed the pipelines. 
                You can find the code for the app on the <a href="https://github.com/lucasomigli/macro-analyst">repo</a>.</p>

            <p class="text-content">While searching for job opportunities, I am currently keeping myself busy with developing financial models
                with QuantLib and publishing them and other articles on finance on my <a href="https://medium.com/@lucasomigli">medium page</a>.
            </p>

            <p class="text-content">Aside from all things finance, I work with music during the weekend, tutoring students of all ages,
                playing and collaborating to projects in and out of studios, composing music for jazz performances.
                If you want learn more please check my music space <a href="https://lucasomiglimusic.herokuapp.com/">here</a>.
                I try to be an active blogger where I can, and write about my analysis, quant discoveries and side projects.</p>

            <p class="text-content">You can find me on <a href="https://www.linkedin.com/in/luca-somigli-78a0ab89/">LinkedIn</a>,
                or email me <a href="mailto:somigliluca@gmail.com?Subject=Hello%20Luca%20-from-website" target="_top">here</a>.
            </p>

            <p class="text-content">Feel free to get in touch and let's talk!</p>

            <p class="text-content">Many thanks,</p>

            <p class="text-content">Luca</p>

            <p class="text-content"><a href="curriculum">For more about me, what I do and have done, read on here.</a></p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
